{% extends 'catalog/base.html' %}

{% block content %}
    <a type="button" href="{% url 'blog:create_blog' %}" class="btn btn-outline-primary">Создать новую запись</a>
    <div class="row text-left">
        <ul class="list-group">
            {% for object in object_list %}
                <li class="list-group-item">{{ object }}</li>
                <div class="btn-group" role="group">
                    <a href="{% url 'blog:detail_blog' object.slug %}" class="btn btn-outline-secondary">Посмотреть</a>
                    <a href="{% url 'blog:edit_blog' object.slug %}" class="btn btn-outline-secondary">Редактировать</a>
                    <a href="{% url 'blog:delete_blog' object.slug %}" class="btn btn-outline-danger">Удалить</a>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}