{% extends 'catalog/base.html' %}


{% block content %}

    <div class="row mb-3">
        <a href="{% url 'catalog:product_create' %}" type="button" class="btn btn-outline-primary">Создать новый
            продукт</a>
    </div>


    <div class="row text-center">
        {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ object.unit_price }} ₽</h1>
                        <p class="text-center">{{ object.description | truncatechars:100 }}</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-outline-primary btn-sm"
                               href="{% url 'catalog:product_detail' object.pk %}">View</a>
                            <a class="btn btn-outline-primary btn-sm"
                               href="{% url 'catalog:product_edit' object.pk %}">Edit</a>
                            <a class="btn btn-outline-primary btn-sm" href="#">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}